.esh{
    background-color: whitesmoke;
    background-image: linear-gradient(to bottom right,white);
    width:300px;
    height:350px;
    border:2px solid;
    padding:5px;
    }
    img{
        border-radius:10px;
        width:100%;
    }
    png{
        border-radius:10px;
        width: 100%;
    }
.hello{
    height: auto;
    width: 250px;
    padding-bottom:10px;
    padding-top: 30;
}
