.nav{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    padding:2px 15px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}